<h1>Produtos cadastrados</h1>

<div class="products">
  {{#each products}}
    <div class="product">
      <img src="{{this.image}}" alt="Imagem do produto" />
      <h3>{{this.name}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>
      <a href="/product/{{this._id}}">Detalhes</a>
    </div>
  {{/each}}
</div>